{
  "openapi": "3.1.0",
  "info": {
    "title": "DIGITALYCloud API",
    "version": "1.0.0",
    "description": "Hosting for Discord bots, Node.js apps, APIs and workers. All paths are relative to `/v1`. Timestamps are epoch milliseconds, dates `YYYY-MM-DD`, money in euros (integer cents internally). Errors: `{ \"error\": { \"code\", \"message\", \"fields?\" } }`. Session principals pick the team with `X-Team-Id` (or `?team=` on GET/EventSource); API keys are bound to one team. `x-permission` lists the team roles and the minimum API-key scope for each operation (null: API keys not accepted)."
  },
  "servers": [
    {
      "url": "https://api.cloud.digitaly.fr/v1"
    },
    {
      "url": "http://localhost:4000/v1"
    }
  ],
  "tags": [
    {
      "name": "Platform"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Account"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Services"
    },
    {
      "name": "Deployments"
    },
    {
      "name": "Observability"
    },
    {
      "name": "API keys"
    },
    {
      "name": "Billing"
    },
    {
      "name": "Sources"
    },
    {
      "name": "Support"
    },
    {
      "name": "Staff"
    },
    {
      "name": "Webhooks"
    }
  ],
  "components": {
    "securitySchemes": {
      "session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "dgc_session",
        "description": "HttpOnly session cookie set by signup/login. Unsafe requests also need `X-CSRF-Token` (see GET /auth/csrf) and an allowed Origin."
      },
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "`Authorization: Bearer dgc_live_…` — team-bound, scope `read` or `full`, 120 requests/min."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "examples": [
                  "VALIDATION_ERROR",
                  "UNAUTHENTICATED",
                  "FORBIDDEN",
                  "NOT_FOUND",
                  "CONFLICT",
                  "RATE_LIMITED",
                  "CSRF_TOKEN_INVALID",
                  "BILLING_UNAVAILABLE",
                  "PAYMENT_METHOD_REQUIRED"
                ]
              },
              "message": {
                "type": "string",
                "description": "User-facing message, shown as-is by the dashboard."
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Per-field validation messages."
              }
            },
            "required": [
              "code",
              "message"
            ],
            "additionalProperties": true,
            "description": "Extra details depend on the code, e.g. `checkoutUrl`/`operationId` (402), `retryAfter` (429)."
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "starter",
              "pro",
              "business"
            ],
            "description": "Highest plan in the active team (display only)."
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ]
          },
          "avatarInitials": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "enum": [
              "en",
              "fr"
            ]
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone"
          },
          "twoFactorEnabled": {
            "type": "boolean"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "pendingEmail": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ]
          },
          "hasPassword": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          }
        },
        "required": [
          "id",
          "name",
          "firstName",
          "email",
          "plan",
          "role",
          "avatarInitials",
          "language",
          "timezone",
          "twoFactorEnabled",
          "emailVerified",
          "pendingEmail",
          "hasPassword",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "TwoFactorChallenge": {
        "type": "object",
        "properties": {
          "twoFactorRequired": {
            "const": true
          },
          "challengeToken": {
            "type": "string"
          }
        },
        "required": [
          "twoFactorRequired",
          "challengeToken"
        ],
        "additionalProperties": false
      },
      "BrowserSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "device": {
            "type": "string"
          },
          "location": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "current": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "lastActiveAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          }
        },
        "required": [
          "id",
          "device",
          "location",
          "current",
          "createdAt",
          "lastActiveAt"
        ],
        "additionalProperties": false
      },
      "NotificationPreferences": {
        "type": "object",
        "properties": {
          "deployFail": {
            "type": "boolean"
          },
          "deploySuccess": {
            "type": "boolean"
          },
          "crash": {
            "type": "boolean"
          },
          "usage": {
            "type": "boolean"
          },
          "billing": {
            "type": "boolean"
          },
          "product": {
            "type": "boolean"
          }
        },
        "required": [
          "deployFail",
          "deploySuccess",
          "crash",
          "usage",
          "billing",
          "product"
        ],
        "additionalProperties": false
      },
      "TwoFactorSetup": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string"
          },
          "otpauthUrl": {
            "type": "string"
          },
          "qrCodeDataUrl": {
            "type": "string",
            "description": "data:image/png;base64,…"
          }
        },
        "required": [
          "secret",
          "otpauthUrl",
          "qrCodeDataUrl"
        ],
        "additionalProperties": false
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "personal": {
            "type": "boolean"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "developer",
              "viewer"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "personal",
          "role"
        ],
        "additionalProperties": false
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "`mem_…` member or `ivt_…` pending invitation"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "developer",
              "viewer"
            ]
          },
          "pending": {
            "type": "boolean"
          },
          "invitedAt": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Epoch milliseconds"
              },
              {
                "type": "null"
              }
            ]
          },
          "joinedAt": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Epoch milliseconds"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "role",
          "pending",
          "invitedAt",
          "joinedAt"
        ],
        "additionalProperties": false
      },
      "EnvVar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "description": "Empty when redacted (viewers)."
          },
          "secret": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "key",
          "value",
          "secret"
        ],
        "additionalProperties": false
      },
      "EnvVarInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Existing id to keep, or a temporary id for a new row."
          },
          "key": {
            "type": "string",
            "pattern": "^[A-Z_][A-Z0-9_]*$",
            "maxLength": 128
          },
          "value": {
            "type": "string",
            "maxLength": 32768,
            "description": "May be omitted for an existing id to keep the stored value."
          },
          "secret": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "secret"
        ],
        "additionalProperties": false
      },
      "PendingChanges": {
        "type": "object",
        "properties": {
          "settings": {
            "type": "boolean"
          },
          "env": {
            "type": "boolean"
          },
          "resources": {
            "type": "boolean"
          },
          "resourceError": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "settings",
          "env",
          "resources",
          "resourceError"
        ],
        "additionalProperties": false
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Immutable public slug"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "discord",
              "node",
              "api",
              "worker"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "stopped",
              "deploying",
              "failed"
            ]
          },
          "cpu": {
            "type": "number",
            "description": "% of the plan allocation (0 when not measured; see metricsAt)"
          },
          "ramMb": {
            "type": "number"
          },
          "ramLimitMb": {
            "type": "integer"
          },
          "storageMb": {
            "type": "number"
          },
          "storageLimitMb": {
            "type": "integer"
          },
          "metricsAt": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Epoch milliseconds"
              },
              {
                "type": "null"
              }
            ]
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Epoch milliseconds"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "lastDeployAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "region": {
            "type": "string",
            "examples": [
              "France — Lyon"
            ]
          },
          "regionId": {
            "type": "string"
          },
          "server": {
            "type": "string"
          },
          "runtime": {
            "type": "string",
            "enum": [
              "Docker",
              "Node.js"
            ]
          },
          "nodeVersion": {
            "type": "string",
            "examples": [
              "24 LTS"
            ]
          },
          "startCommand": {
            "type": "string"
          },
          "port": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 65535
              },
              {
                "type": "null"
              }
            ]
          },
          "url": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "starter",
              "pro",
              "business"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "github",
              "upload",
              "docker"
            ]
          },
          "repo": {
            "type": "string"
          },
          "branch": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "autoDeploy": {
            "type": "boolean"
          },
          "autoRestart": {
            "type": "boolean"
          },
          "pendingChanges": {
            "$ref": "#/components/schemas/PendingChanges"
          },
          "operation": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "deploy",
                      "start",
                      "stop",
                      "restart",
                      "apply_limits",
                      "delete"
                    ]
                  },
                  "startedAt": {
                    "type": "integer",
                    "description": "Epoch milliseconds"
                  }
                },
                "required": [
                  "kind",
                  "startedAt"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "env": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVar"
            },
            "description": "Session requests only; never sent to API keys or over SSE."
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "status",
          "cpu",
          "ramMb",
          "ramLimitMb",
          "storageMb",
          "storageLimitMb",
          "metricsAt",
          "startedAt",
          "createdAt",
          "lastDeployAt",
          "region",
          "regionId",
          "server",
          "runtime",
          "nodeVersion",
          "startCommand",
          "port",
          "url",
          "plan",
          "source",
          "repo",
          "branch",
          "autoDeploy",
          "autoRestart",
          "pendingChanges",
          "operation"
        ],
        "additionalProperties": false
      },
      "CreateServiceInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^[A-Za-z][\\w-]{1,31}$"
          },
          "type": {
            "type": "string",
            "enum": [
              "discord",
              "node",
              "api",
              "worker"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "github",
              "upload",
              "docker"
            ]
          },
          "repo": {
            "type": "string",
            "description": "`owner/repo` (github) or an image reference (docker); empty for uploads."
          },
          "branch": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "uploadId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "nodeVersion": {
            "type": "string",
            "enum": [
              "24 LTS",
              "22 LTS"
            ]
          },
          "startCommand": {
            "type": "string",
            "maxLength": 1000
          },
          "port": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 65535
              },
              {
                "type": "null"
              }
            ]
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "starter",
              "pro",
              "business"
            ]
          },
          "regionId": {
            "type": "string"
          },
          "env": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvVarInput"
            }
          },
          "autoDeploy": {
            "type": "boolean"
          },
          "autoRestart": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "type",
          "source",
          "startCommand",
          "port",
          "plan",
          "regionId"
        ],
        "additionalProperties": false
      },
      "UpdateServiceInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "startCommand": {
            "type": "string"
          },
          "nodeVersion": {
            "type": "string"
          },
          "port": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "branch": {
            "type": "string"
          },
          "autoDeploy": {
            "type": "boolean"
          },
          "autoRestart": {
            "type": "boolean"
          }
        },
        "required": [],
        "additionalProperties": false
      },
      "Deployment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "serviceId": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "environment": {
            "type": "string",
            "enum": [
              "Production",
              "Preview"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "building",
              "success",
              "failed"
            ]
          },
          "stage": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "preparing",
                  "pulling",
                  "installing",
                  "starting",
                  "health_check"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "trigger": {
            "type": "string",
            "enum": [
              "initial",
              "manual",
              "git_push",
              "api",
              "rollback"
            ]
          },
          "createdAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "finishedAt": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Epoch milliseconds"
              },
              {
                "type": "null"
              }
            ]
          },
          "commit": {
            "type": "string"
          },
          "commitMessage": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "durationSec": {
            "type": "integer"
          },
          "rollbackOf": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "failureReason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "logs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Build log; only on GET /deployments/{id}."
          }
        },
        "required": [
          "id",
          "serviceId",
          "number",
          "environment",
          "status",
          "stage",
          "trigger",
          "createdAt",
          "finishedAt",
          "commit",
          "commitMessage",
          "author",
          "durationSec",
          "rollbackOf",
          "failureReason"
        ],
        "additionalProperties": false
      },
      "ServiceDeploymentPair": {
        "type": "object",
        "properties": {
          "service": {
            "$ref": "#/components/schemas/Service"
          },
          "deployment": {
            "$ref": "#/components/schemas/Deployment"
          }
        },
        "required": [
          "service",
          "deployment"
        ],
        "additionalProperties": false
      },
      "LogLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "ts": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "level": {
            "type": "string",
            "enum": [
              "info",
              "warn",
              "error",
              "success",
              "debug"
            ]
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "ts",
          "level",
          "text"
        ],
        "additionalProperties": false
      },
      "MetricPoint": {
        "type": "object",
        "properties": {
          "ts": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "cpu": {
            "anyOf": [
              {
                "type": "number",
                "description": "%"
              },
              {
                "type": "null"
              }
            ]
          },
          "ram": {
            "anyOf": [
              {
                "type": "number",
                "description": "MB"
              },
              {
                "type": "null"
              }
            ]
          },
          "netIn": {
            "anyOf": [
              {
                "type": "number",
                "description": "KB/s"
              },
              {
                "type": "null"
              }
            ]
          },
          "netOut": {
            "anyOf": [
              {
                "type": "number",
                "description": "KB/s"
              },
              {
                "type": "null"
              }
            ]
          },
          "disk": {
            "anyOf": [
              {
                "type": "number",
                "description": "MB"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "ts",
          "cpu",
          "ram",
          "netIn",
          "netOut",
          "disk"
        ],
        "additionalProperties": false
      },
      "Metrics": {
        "type": "object",
        "properties": {
          "range": {
            "type": "string",
            "enum": [
              "live",
              "24h",
              "7d",
              "30d"
            ]
          },
          "intervalSec": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetricPoint"
            }
          }
        },
        "required": [
          "range",
          "intervalSec",
          "data"
        ],
        "additionalProperties": false
      },
      "UsagePoint": {
        "type": "object",
        "properties": {
          "ts": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "cpu": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "ram": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "ts",
          "cpu",
          "ram"
        ],
        "additionalProperties": false
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "lastUsed": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Epoch milliseconds"
              },
              {
                "type": "null"
              }
            ]
          },
          "scope": {
            "type": "string",
            "enum": [
              "read",
              "full"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "prefix",
          "createdAt",
          "lastUsed",
          "scope"
        ],
        "additionalProperties": false
      },
      "CreatedApiKey": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/components/schemas/ApiKey"
          },
          "secret": {
            "type": "string",
            "description": "Shown once: `dgc_live_…`"
          }
        },
        "required": [
          "key",
          "secret"
        ],
        "additionalProperties": false
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "time": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "read": {
            "type": "boolean"
          },
          "kind": {
            "type": "string",
            "enum": [
              "success",
              "warning",
              "info",
              "error"
            ]
          },
          "serviceId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "title",
          "body",
          "time",
          "read",
          "kind",
          "serviceId"
        ],
        "additionalProperties": false
      },
      "BillingSummary": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "none",
              "active",
              "past_due",
              "canceled"
            ]
          },
          "currency": {
            "const": "EUR"
          },
          "monthlyTotal": {
            "type": "number",
            "description": "Euros"
          },
          "nextBillingDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "periodStart": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "periodEnd": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "paymentMethod": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "brand": {
                    "type": "string"
                  },
                  "last4": {
                    "type": "string"
                  },
                  "expMonth": {
                    "type": "integer"
                  },
                  "expYear": {
                    "type": "integer"
                  }
                },
                "required": [
                  "brand",
                  "last4",
                  "expMonth",
                  "expYear"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "billingAvailable": {
            "type": "boolean"
          }
        },
        "required": [
          "status",
          "currency",
          "monthlyTotal",
          "nextBillingDate",
          "periodStart",
          "periodEnd",
          "paymentMethod",
          "billingAvailable"
        ],
        "additionalProperties": false
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "amount": {
            "type": "number",
            "description": "Euros"
          },
          "status": {
            "type": "string",
            "enum": [
              "paid",
              "pending",
              "failed"
            ]
          },
          "plan": {
            "type": "string"
          },
          "pdfUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "number",
          "date",
          "amount",
          "status",
          "plan",
          "pdfUrl"
        ],
        "additionalProperties": false
      },
      "BillingOperation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "create_service",
              "change_plan"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "awaiting_payment",
              "processing",
              "completed",
              "failed",
              "canceled",
              "expired"
            ]
          },
          "serviceId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "serviceName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "starter",
              "pro",
              "business"
            ]
          },
          "checkoutUrl": {
            "anyOf": [
              {
                "type": "string",
                "description": "Owner only, while payment is outstanding."
              },
              {
                "type": "null"
              }
            ]
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "expiresAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          }
        },
        "required": [
          "id",
          "kind",
          "status",
          "serviceId",
          "serviceName",
          "plan",
          "checkoutUrl",
          "message",
          "createdAt",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "Upload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "format": {
            "type": "string",
            "enum": [
              "zip",
              "tar",
              "tar.gz"
            ]
          },
          "createdAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Epoch milliseconds"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "fileName",
          "sizeBytes",
          "format",
          "createdAt",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "GithubConnection": {
        "type": "object",
        "properties": {
          "connected": {
            "type": "boolean"
          },
          "configured": {
            "type": "boolean"
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "login": {
                  "type": "string"
                },
                "installationId": {
                  "type": "integer"
                }
              },
              "required": [
                "login",
                "installationId"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "connected",
          "configured",
          "accounts"
        ],
        "additionalProperties": false
      },
      "GithubRepo": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string"
          },
          "defaultBranch": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          }
        },
        "required": [
          "fullName",
          "defaultBranch",
          "private"
        ],
        "additionalProperties": false
      },
      "GithubBranch": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "SupportTicketInput": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "minLength": 4,
            "maxLength": 200
          },
          "serviceId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "normal",
              "high"
            ]
          },
          "message": {
            "type": "string",
            "minLength": 10,
            "maxLength": 10000
          }
        },
        "required": [
          "subject",
          "message"
        ],
        "additionalProperties": false
      },
      "SupportTicket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "serviceId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "normal",
              "high"
            ]
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "pending",
              "closed"
            ]
          },
          "createdAt": {
            "type": "integer",
            "description": "Epoch milliseconds"
          }
        },
        "required": [
          "id",
          "number",
          "subject",
          "serviceId",
          "priority",
          "message",
          "status",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "company": {
            "type": "string"
          },
          "topic": {
            "type": "string",
            "enum": [
              "Sales & dedicated resources",
              "Technical question",
              "Billing",
              "Partnership",
              "Press"
            ]
          },
          "message": {
            "type": "string",
            "minLength": 10
          },
          "website": {
            "type": "string",
            "description": "Honeypot: must stay empty."
          }
        },
        "required": [
          "name",
          "email",
          "topic",
          "message"
        ],
        "additionalProperties": false
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "free",
              "starter",
              "pro",
              "business"
            ]
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "priceCents": {
            "type": "integer"
          },
          "ramMb": {
            "type": "integer"
          },
          "vcpu": {
            "type": "number"
          },
          "storageGb": {
            "type": "integer"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "popular": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "price",
          "priceCents",
          "ramMb",
          "vcpu",
          "storageGb",
          "features"
        ],
        "additionalProperties": false
      },
      "Region": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "area": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "minPlan": {
            "type": "string",
            "enum": [
              "free",
              "starter",
              "pro",
              "business"
            ]
          },
          "latencyMs": {
            "type": "integer"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "desc": {
            "type": "string"
          },
          "available": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "city",
          "country",
          "countryCode",
          "area",
          "code",
          "minPlan",
          "latencyMs",
          "lat",
          "lon",
          "desc",
          "available"
        ],
        "additionalProperties": false
      },
      "Catalog": {
        "type": "object",
        "properties": {
          "plans": {
            "type": "object",
            "properties": {
              "discord": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Plan"
                }
              },
              "node": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Plan"
                }
              },
              "api": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Plan"
                }
              },
              "worker": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            },
            "required": [
              "discord",
              "node",
              "api",
              "worker"
            ]
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Region"
            }
          },
          "nodeVersions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "legacyNodeVersions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "uploadLimits": {
            "type": "object",
            "properties": {
              "defaultBytes": {
                "type": "integer"
              },
              "largeBytes": {
                "type": "integer"
              }
            },
            "required": [
              "defaultBytes",
              "largeBytes"
            ],
            "additionalProperties": false
          },
          "paidPlansAvailable": {
            "type": "boolean"
          }
        },
        "required": [
          "plans",
          "regions",
          "nodeVersions",
          "legacyNodeVersions",
          "uploadLimits",
          "paidPlansAvailable"
        ],
        "additionalProperties": false
      },
      "Server": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "degraded",
              "maintenance",
              "offline"
            ]
          },
          "cpu": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "ram": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "storage": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "containers": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "region": {
            "type": "string"
          },
          "regionId": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "ip": {
            "anyOf": [
              {
                "type": "string",
                "description": "Public display address, if published"
              },
              {
                "type": "null"
              }
            ]
          },
          "cores": {
            "type": "integer"
          },
          "memoryGb": {
            "type": "number"
          },
          "diskTb": {
            "type": "number"
          },
          "uptimeDays": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "sampledAt": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Epoch milliseconds"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "cpu",
          "ram",
          "storage",
          "containers",
          "region",
          "regionId",
          "country",
          "ip",
          "cores",
          "memoryGb",
          "diskTb",
          "uptimeDays",
          "sampledAt"
        ],
        "additionalProperties": false
      },
      "ServerLoadPoint": {
        "type": "object",
        "properties": {
          "ts": {
            "type": "integer",
            "description": "Epoch milliseconds"
          }
        },
        "required": [
          "ts"
        ],
        "additionalProperties": {
          "anyOf": [
            {
              "type": "number"
            },
            {
              "type": "null"
            }
          ]
        },
        "description": "Average CPU % per region id."
      },
      "StatusComponent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "desc": {
            "type": "string"
          },
          "uptime": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "ok",
              "maintenance",
              "degraded",
              "outage",
              "unknown"
            ]
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "daysAgo": {
                  "type": "integer"
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "maintenance",
                    "degraded",
                    "outage"
                  ]
                },
                "note": {
                  "type": "string"
                }
              },
              "required": [
                "daysAgo",
                "state",
                "note"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "name",
          "desc",
          "uptime",
          "state",
          "events"
        ],
        "additionalProperties": false
      },
      "Status": {
        "type": "object",
        "properties": {
          "overallUptime": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "current": {
            "type": "string",
            "enum": [
              "ok",
              "maintenance",
              "degraded",
              "outage",
              "unknown"
            ]
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatusComponent"
                  }
                }
              },
              "required": [
                "name",
                "components"
              ],
              "additionalProperties": false
            }
          },
          "maintenance": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "window": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "affected": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "title",
                  "window",
                  "body",
                  "affected"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "incidents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "impact": {
                  "type": "string",
                  "enum": [
                    "minor",
                    "major",
                    "maintenance"
                  ]
                },
                "duration": {
                  "type": "string"
                },
                "affected": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "updates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "string"
                      },
                      "stage": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "time",
                      "stage",
                      "text"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "date",
                "title",
                "impact",
                "duration",
                "affected",
                "updates"
              ],
              "additionalProperties": false
            }
          },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ts": {
                  "type": "integer",
                  "description": "Epoch milliseconds"
                },
                "uptime": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "latency": {
                  "anyOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "ts",
                "uptime",
                "latency"
              ],
              "additionalProperties": false
            }
          },
          "observedSince": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Epoch milliseconds"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "overallUptime",
          "current",
          "groups",
          "maintenance",
          "incidents",
          "history",
          "observedSince"
        ],
        "additionalProperties": false
      },
      "AdminOverview": {
        "type": "object",
        "properties": {
          "totalUsers": {
            "type": "integer"
          },
          "newUsersThisMonth": {
            "type": "integer"
          },
          "activeServices": {
            "type": "integer"
          },
          "runningPct": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "serversOnline": {
            "type": "integer"
          },
          "serversTotal": {
            "type": "integer"
          },
          "serversInMaintenance": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mrr": {
            "type": "number"
          },
          "mrrChangePct": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "cpuAvg": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "ramAvg": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "deployments14d": {
            "type": "integer"
          },
          "failedDeployments14d": {
            "type": "integer"
          },
          "failureRatePct": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "deadLetterTasks": {
            "type": "integer"
          },
          "overdueAccountDeletions": {
            "type": "integer"
          }
        },
        "required": [
          "totalUsers",
          "newUsersThisMonth",
          "activeServices",
          "runningPct",
          "serversOnline",
          "serversTotal",
          "serversInMaintenance",
          "mrr",
          "mrrChangePct",
          "cpuAvg",
          "ramAvg",
          "deployments14d",
          "failedDeployments14d",
          "failureRatePct",
          "deadLetterTasks",
          "overdueAccountDeletions"
        ],
        "additionalProperties": false
      },
      "AdminServiceRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "discord",
              "node",
              "api",
              "worker"
            ]
          },
          "server": {
            "type": "string"
          },
          "cpu": {
            "type": "number"
          },
          "ramMb": {
            "type": "number"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "starter",
              "pro",
              "business"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "stopped",
              "deploying",
              "failed"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "owner",
          "type",
          "server",
          "cpu",
          "ramMb",
          "plan",
          "status"
        ],
        "additionalProperties": false
      },
      "ServiceMetricsEvent": {
        "type": "object",
        "properties": {
          "serviceId": {
            "type": "string"
          },
          "ts": {
            "type": "integer",
            "description": "Epoch milliseconds"
          },
          "cpu": {
            "type": "number"
          },
          "ramMb": {
            "type": "number"
          },
          "netIn": {
            "type": "number"
          },
          "netOut": {
            "type": "number"
          },
          "storageMb": {
            "type": "number"
          }
        },
        "required": [
          "serviceId",
          "ts",
          "cpu",
          "ramMb",
          "netIn",
          "netOut",
          "storageMb"
        ],
        "additionalProperties": false
      },
      "DeploymentLogEvent": {
        "type": "object",
        "properties": {
          "deploymentId": {
            "type": "string"
          },
          "lineNo": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "deploymentId",
          "lineNo",
          "text"
        ],
        "additionalProperties": false
      },
      "ServiceList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "DeploymentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deployment"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "LogLineList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LogLine"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "ApiKeyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "NotificationList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "InvoiceList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Invoice"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "TeamMemberList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMember"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "BrowserSessionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BrowserSession"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "GithubRepoList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GithubRepo"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "GithubBranchList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GithubBranch"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "ServerList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Server"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "ServerLoadPointList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServerLoadPoint"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "AdminServiceRowList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminServiceRow"
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "data",
          "nextCursor"
        ],
        "additionalProperties": false
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Liveness",
        "tags": [
          "Platform"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "const": "ok"
                    },
                    "version": {
                      "type": "string"
                    },
                    "time": {
                      "type": "integer",
                      "description": "Epoch milliseconds"
                    }
                  },
                  "required": [
                    "status",
                    "version",
                    "time"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/health/ready": {
      "get": {
        "summary": "Readiness (MongoDB, Redis, migrations, indexes, capabilities)",
        "tags": [
          "Platform"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Unavailable / not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/catalog": {
      "get": {
        "summary": "Plans, regions with live availability, Node versions, upload limits",
        "tags": [
          "Platform"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Catalog"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/csrf": {
      "get": {
        "summary": "Issue the CSRF cookie and header token",
        "description": "Sets the HttpOnly `dgc_csrf` cookie. Unsafe cookie-authenticated requests send the token as `X-CSRF-Token`.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "csrfToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "csrfToken"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/session": {
      "get": {
        "summary": "Current user (or null)",
        "tags": [
          "Auth"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/User"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "summary": "Create an account (and a personal team)",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 100
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 256
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sets `dgc_session` (30 days).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Sign in with email and password",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  },
                  "remember": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "email",
                  "password"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sets `dgc_session` unless a second factor is required.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/User"
                    },
                    {
                      "$ref": "#/components/schemas/TwoFactorChallenge"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in / invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/2fa/verify": {
      "post": {
        "summary": "Complete sign-in with a TOTP or recovery code",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "challengeToken": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                },
                "required": [
                  "challengeToken",
                  "code"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in / invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/password/forgot": {
      "post": {
        "summary": "Email a password reset link (always 204)",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/password/reset": {
      "post": {
        "summary": "Set a new password from a reset link (signs out every session)",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "token",
                  "password"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email/verify": {
      "post": {
        "summary": "Confirm an email address from its link",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email/resend": {
      "post": {
        "summary": "Resend the verification email",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "x-csrf": "Cookie-authenticated calls need Origin + X-CSRF-Token; bearer keys are exempt.",
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Not signed in / invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Sign out (revokes the session)",
        "tags": [
          "Auth"
        ],
        "security": [],
        "responses": {
          "204": {
            "description": "OK"
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/google": {
      "get": {
        "summary": "Start Google sign-in (browser navigation)",
        "tags": [
          "Auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Same-site path to return to"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to Google, or back to /login?error=… when unavailable."
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/google/callback": {
      "get": {
        "summary": "Google OIDC callback (browser navigation)",
        "tags": [
          "Auth"
        ],
        "security": [],
        "responses": {
          "302": {
            "description": "Redirect to `from`, to `/login?error=<code>`, or to `/login#challenge=<token>` when 2FA is on."
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "patch": {
        "summary": "Update profile (email changes need the current password and confirmation)",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "x-csrf": "Cookie-authenticated calls need Origin + X-CSRF-Token; bearer keys are exempt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "en",
                      "fr"
                    ]
                  },
                  "timezone": {
                    "type": "string"
                  },
                  "currentPassword": {
                    "type": "string"
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in / invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (role, scope, CSRF, team)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete the account (asynchronous cleanup, access ends now)",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "x-csrf": "Cookie-authenticated calls need Origin + X-CSRF-Token; bearer keys are exempt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirmEmail": {
                    "type": "string"
                  },
                  "currentPassword": {
                    "type": "string"
                  }
                },
                "required": [
                  "confirmEmail"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in / invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (role, scope, CSRF, team)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me/password": {
      "put": {
        "summary": "Change (or set) the password; signs out other sessions",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "x-csrf": "Cookie-authenticated calls need Origin + X-CSRF-Token; bearer keys are exempt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "newPassword"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in / invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (role, scope, CSRF, team)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me/sessions": {
      "get": {
        "summary": "Signed-in devices",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserSessionList"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in / invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me/sessions/{id}": {
      "delete": {
        "summary": "Sign out another device",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "x-csrf": "Cookie-authenticated calls need Origin + X-CSRF-Token; bearer keys are exempt.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Not signed in / invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me/2fa/setup": {
      "post": {
        "summary": "Start TOTP setup (pending secret + QR code)",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "x-csrf": "Cookie-authenticated calls need Origin + X-CSRF-Token; bearer keys are exempt.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwoFactorSetup"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in / invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me/2fa/enable": {
      "post": {
        "summary": "Confirm TOTP with a first code; returns recovery codes once",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "x-csrf": "Cookie-authenticated calls need Origin + X-CSRF-Token; bearer keys are exempt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                },
                "required": [
                  "code"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recoveryCodes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "recoveryCodes"
                  ],
                  "additionalProperties": false
                }
              }
[...]
